In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import matplotlib
import pandas
import numpy
print (matplotlib.__version__)
print (pandas.__version__)
print (numpy.__version__)

1.3.1
0.13.1
1.11.2

In [3]:
#Reading users file:
users_data = pd.read_csv('/home/nadine/Desktop/Memoir/data/user.csv')

In [4]:
users_data

    userId          joined-date  active    birthday  gender
0        1  2013-12-11 16:47:33       1  1980-03-28    Male
1        2  2014-01-03 13:18:17       1  1987-11-03    Male
2        3  2014-01-17 20:10:39       1  1980-03-28    Male
3        4  2014-01-21 21:34:22       1  1982-10-29  Female
4        5  2014-02-12 20:22:48       1  0000-00-00    male
5        6  2014-02-20 15:55:16       1  1985-06-04  Female
6        7  2014-02-20 16:01:52       0  1983-10-27  Female
7        8  2014-03-01 20:37:41       1  1980-06-30    Male
8        9  2014-05-05 00:51:47       1  1988-01-02    Male
9       10  2014-05-09 22:28:20       1  0000-00-00    Male
10      11  2014-05-09 22:29:24       1  1963-09-18    Male
11      12  2014-05-13 16:10:00       1  1982-06-06    Male
12      13  2014-05-13 16:49:14       1  0000-00-00    Male
13      14  2014-05-14 21:47:48       1  1982-05-10    Male
14      15  2014-05-22 14:20:48       1  1978-04-03    Male
15      16  2014-05-23 18:05:54       0  0000-00-00    Male
16      17  2014-05-29 22:05:58       1  1992-09-10    Male
17      18  2014-06-05 18:04:07       1  0000-00-00    Male
18      19  2014-06-06 16:52:59       0  1985-09-01    Male
19      20  2014-06-11 12:57:51       1  0000-00-00  Female
20      21  2014-06-30 16:08:10       1  1987-11-03    Male
21      22  2014-07-01 22:01:35       1  1979-01-05    Male
22      23  2014-07-14 16:10:01       1  1974-10-09    Male
23      24  2014-07-28 15:19:35       1  1987-12-14  Female
24      25  2014-08-06 12:00:46       1  1995-07-06  Female
25      26  2014-09-01 13:11:57       0  1979-10-22  Female
26      27  2014-09-01 16:51:12       0  1989-10-07  Female
27      28  2014-09-01 17:26:06       1  1983-04-03  Female
28      29  2014-09-01 17:30:18       0  1983-04-03  Female
29      30  2014-09-01 18:22:22       0  1992-02-09  Female
30      31  2014-09-03 17:41:01       0  1966-01-01    Male
31      32  2014-09-04 12:50:15       0  1984-08-28  Female
32      33  2014-09-05 01:43:41       0  1993-10-03  Female
33      34  2014-09-05 09:55:28       1  1981-05-13    Male
34      35  2014-09-05 15:32:14       0  1982-05-04    Male
35      36  2014-09-06 12:36:55       0  2012-06-04    Male
36      37  2014-09-07 14:16:48       0  1991-01-20    Male
37      38  2014-09-07 22:15:35       0  1989-12-02  Female
38      39  2014-09-07 22:17:39       0  1989-12-02  Female
39      40  2014-09-08 16:13:49       0  1979-02-21    Male
40      41  2014-09-11 14:09:27       1  1977-01-28  Female
41      42  2014-09-11 18:15:36       0  1988-01-01  Female
42      43  2014-09-20 15:04:59       1  1982-09-23    Male
43      44  2014-09-20 16:05:50       1  1987-09-23    Male
44      45  2014-09-21 03:52:26       0  0000-00-00    Male
45      46  2014-09-21 21:05:02       0  0000-00-00    Male
46      47  2014-09-22 18:22:42       0  0000-00-00    Male
47      48  2014-10-12 00:19:23       1  1991-11-20  Female
48      49  2014-10-12 00:41:10       1  0000-00-00    Male
49      50  2014-10-17 13:02:56       1  0000-00-00    Male
50      51  2014-10-22 11:16:55       1  1986-06-11    Male
51      52  2014-10-31 11:28:08       0  1982-11-21  Female
52      53  2014-10-31 16:22:22       1  1988-08-27    Male
53      54  2014-10-31 17:00:23       1  1990-09-14  Female
54      55  2014-11-05 22:47:40       1  1982-11-30    Male
55      56  2014-11-07 13:45:58       1  0000-00-00    Male
56      57  2014-11-07 15:39:23       1  1990-11-30    Male
57      58  2014-11-09 16:22:58       1  0000-00-00    Male
58      59  2014-11-10 00:42:34       1  0000-00-00    Male
59      60  2014-11-10 08:31:58       1  1981-03-03  Female
       ...                  ...     ...         ...     ...

[1200 rows x 5 columns]

In [5]:
#Reading jobs file:
jobs_data = pd.read_csv('/home/nadine/Desktop/Memoir/data/jobs.csv')
jobs_data

,jobId,name,contract in months,Required_experience in years,Required_level,Posted_at,Likes,Views
0,8,Stagiaire en analyse des donneés,6,5,bac3,2014-04-19,17,NaN
1,9,Stagiaire en Sécurité info,6,4,bac4,2014-04-18,18,NaN
2,10,Un(e) directeur(trice) des formations,6,5,bac5,2014-04-17,19,1691
3,12,Un(e) responsable marketing et commercial,8,3,bac2,2014-04-18,50,3650
4,13,Un(e) assistant(e) de direction,6,3,bac3,2014-04-18,74,2144
5,15,Vacancy Announcement,6,5,bac5,2014-07-21,22,2017
6,16,Commercial,6,5,bac5,2014-08-04,40,2097
7,17,Commercial / business developper,8,5,bac5,2014-08-08,30,2074
8,20,Hellofood.sn recrute un comptable,6,5,bac3,2014-08-29,49,4133
9,21,Africa Internet Group recruit a Cash COLLECTOR,6,2,bac5,2014-08-29,16,3034
10,22,Un assistant comptable,6,2,bac3,2014-10-29,132,3008
11,24,Développeurs back-end & front-end (H/F),9,1,bac4,2014-12-02,45,2609
12,25,La LONASE recrute un(e) Directeur(rice) des Sy...,6,10,bac5,2014-12-07,70,11200
13,26,Chargé(e) de communication (H/F),9,1,bac2,2014-12-15,65,2823
14,28,"Assistante administrative, financière et organ...",8,3,bac5,2015-02-17,78,2574
15,29,HR Business Partner - Senegal,6,5,bac5,2015-02-24,1,2219
16,30,CFO - Senegal,6,5,bac5,2015-02-24,1,2120
17,32,Un(e) Assistant(e) de Direction Bilingue (Fran...,6,3,Bac + 2/3 en Secrétariat / Assistanat de direc...,2015-04-01,62,3034
18,33,Un (01) Senior Manager Tax (Bilingue Français ...,6,3,Bac + 5 en Droit Fiscal / Diplôme de Juriste C...,2015-04-01,4,1567
19,34,Un Manager Responsable de Département Expertis...,6,5,Diplôme d’expert comptable ou équivalent,2015-04-01,6,1723
20,35,Consultant contrôle qualité,6,1,bac4,2015-04-06,67,3795
21,36,Responsable du Département Expertise Comptable...,6,5,bac5,2015-04-07,12,1121
22,37,Chef de Projet SI,6,2,Ingénieur en informatique,2015-05-06,112,3866
23,38,Ingénieur Réseau Data,6,3,Ingénieur Télécom,2015-04-28,79,2255
24,39,Ingénieur Etudes,6,3,Ingénieur en informatique,2015-04-28,60,1983
25,40,Ingénieur Radio,6,3,Ingénieur Téléinformatique et/ou Télécom,2015-04-28,58,1866
26,41,Administrateur Système et Base de données,6,3,Bac + 4/5 en Informatique,2015-04-28,102,3312
27,42,Ingénieur de Production Informatique,6,3,Bac + 5 en Informatique,2015-04-28,95,3009
28,43,Administrateur Stockage,6,3,Bac + 4/5 en Informatique,2015-04-28,62,2977
29,45,Auditeur,6,2,Diplôme supérieur en Comptabilité-Gestion,2015-05-06,58,3119
30,46,Auditeur,6,2,Diplôme supérieur en Comptabilité-Gestion,2015-05-06,46,3119
31,47,Fiscaliste,6,2,"Fiscaliste, de formation supérieure",2015-05-06,19,2051
32,48,Fiscaliste,6,2,"Fiscaliste, de formation supérieure",2015-05-06,19,2050
33,49,Comptable,6,2,Formation supérieur en Comptabilité/Gestion,2015-05-06,95,5606
34,50,Comptable,6,2,Diplôme supérieur en Comptabilité-Gestion,2015-05-06,72,5606
35,51,30 Ingénieurs de développement logiciel,6,1,Ingénieur en informatique,2015-05-13,126,5046
36,53,10 Consultants MICROSOFT Application,6,3,Bac + 5 en Informatique,2015-05-13,69,3784
37,54,5 Consultants ORACLE Applications,6,3,Bac + 5 en Informatique,2015-05-13,28,1434
38,55,5 Consultants SAP Applications,6,3,Bac + 5 en Informatique,2015-05-13,36,2901
39,56,Deux (2) Chefs de pub,6,3,Diplômé en Marketing/Commerce,2015-05-20,34,2031
40,57,INGENIEUR ETUDES ET DEVELOPPEMENT WEB,8,1,Bac+4/5,2015-05-31,37,1368
41,59,Chef Comptable bilingue Français/Anglais,6,5,Diplôme supérieur en Comptabilité,2015-06-03,27,1508
42,60,Technico-commercial H/F,6,5,Diplôme supérieur en Commerce,2015-06-03,74,6911
43,61,Comptable,6,2,Diplôme supérieur en Comptabilité,2015-06-03,90,4893
44,62,Assistance à Maitrise d’Ouvrage Web & Mobile d...,9,1,Ecole d'ingénieur/Master,2015-06-10,30,1277
45,63,Chef de service transferts d'argent,6,5,"Bac + 5 en Marketing, économie ou management",2015-06-11,77,3452
46,64,Chef de service financier et monetique,6,5,"Bac + 5 en marketing, économie ou banque-finance",2015-06-11,54,3880
47,65,Chef de produit monétique,6,4,"Bac + 4/5 en marketing, économie ou management",2015-06-11,60,2877
48,66,Analyste Crédits,6,3,"BAC + 4 et plus en Finance, Economie ou banque",2015-06-11,104,3311
49,67,Chef de service juridique,6,3,Bac + 4/5 en droit des affaires / Droit privé,2015-06-12,21,1651
50,68,Technicien d'exploitation,6,1,Bac + 2 en Informatique,2015-06-12,71,1809
51,69,Pompistes,8,1,Baccalauréat ou Service Militaire,2015-06-12,28,2166
52,70,Technicien de Baie,6,1,Diplôme en mécanique et electromécanique,2015-06-17,16,1861
53,71,Laveurs,6,1,Pas de diplôme requis,2015-06-17,7,1727
54,72,Caissier(re) boutique,6,1,Bac +2,2015-06-17,138,4123
55,73,Administrateur Base de Données,6,3,,NC,0,1
56,74,Technicien Helpdesk,6,1,"\tBAC+2 en Informatique, option Systèmes et R...",2015-06-26,93,2175
57,75,Chef d'Agence,6,4,"\tBAC + 4 et plus en Finance, Economie, banque",2015-07-03,0,470
58,76,Designer Web,8,2,NaN,2015-07-06,16,1265
59,77,Archiviste,8,2,Licence en information documentaire ou équiva...,2015-07-24,17,1102
,...,...,...,...,...,...,...,...

In [6]:
#Reading ratings file:
df = pd.read_csv('/home/nadine/Desktop/Memoir/data/data.csv')

In [7]:
df

    UserId  JobId  Rating
0        1     21       3
1        1      5       2
2        1     31       2
3        1     40       1
4        1     30       5
5        1     22       2
6        1     29       4
7        1     17       5
8        1     24       1
9        1      7       2
10       1     19       5
11       1     39       3
12       1     12       1
13       1     18       3
14       1      6       3
15       1     11       1
16       1     13       3
17       1      1       2
18       1     28       3
19       1     37       1
20       2     35       4
21       2     16       3
22       2     39       1
23       2      5       5
24       2     19       2
25       2     38       4
26       2     28       3
27       2     20       5
28       2     25       4
29       2     27       2
30       2     23       4
31       2     11       5
32       2     36       3
33       2     22       5
34       2     32       1
35       2     33       5
36       2     37       4
37       2      8       3
38       2     40       3
39       2      4       3
40       3     33       3
41       3     40       5
42       3     15       2
43       3      8       2
44       3      7       4
45       3     21       4
46       3      9       2
47       3     18       1
48       3     25       5
49       3     32       3
50       3     19       2
51       3     17       2
52       3      6       3
53       3     28       4
54       3     14       5
55       3     27       3
56       3      5       1
57       3     20       3
58       3     10       4
59       3      2       3
       ...    ...     ...

[400 rows x 3 columns]

In [8]:
# Now lets take a peak into the content of each file to understand them better.

In [9]:
# To get the size of rating's data
print (users_data.shape)
# To get the firts five users!
df.head()

(1200, 5)

   UserId  JobId  Rating
0       1     21       3
1       1      5       2
2       1     31       2
3       1     40       1
4       1     30       5

[5 rows x 3 columns]

In [10]:
# To get the size of rating's data
#print (rating.shape)
# To get the firts five users!
#rating.head()
#len(rating.UserId)

In [11]:
# To get the size of rating's data
#print (jobs_data.shape)
# To get the firts five users!
#jobs_data.head()

In [12]:
# Now we have to divide the ratings data set into test and train data for making models:
# To split the rating data into traing and test data, we can use "scikit-learn library"

In [13]:
from sklearn import cross_validation as cv
train_data, test_data = cv.train_test_split(df, test_size=0.25)
tn_data  = pd.DataFrame(train_data, columns=['UserId','JobId','Rating'])
ts_data  = pd.DataFrame(test_data, columns=['UserId','JobId','Rating'])
tn_data

    UserId  JobId  Rating
0       14      5       5
1        9     16       4
2       11     38       5
3       19     17       2
4        4      4       1
5        7     24       4
6        4     39       2
7        4     22       3
8       13     15       5
9       11     13       4
10       8     17       5
11      13     27       5
12       7     37       1
13       5     21       4
14      12     18       3
15      10     18       4
16      17     38       1
17      13     29       3
18      16     22       5
19      19     25       5
20       7      7       1
21      17     20       5
22      15     24       5
23       7      8       2
24      17     30       1
25      12     40       2
26       7     39       5
27       5     13       5
28      11      5       2
29      13     13       2
30       7     13       4
31      10      1       3
32       3      2       3
33      15      4       2
34       4     40       3
35      18      5       3
36       3     20       3
37      12     24       5
38       2     28       3
39      18     25       5
40      17      7       1
41      16     16       3
42      15     25       5
43       7     21       3
44      10      9       4
45      20     15       2
46      12      3       4
47      14     34       2
48       2     19       2
49      17     11       3
50       6     10       5
51      11      2       4
52      18     26       4
53       2     37       4
54      20     30       3
55      11     31       3
56      20     33       3
57       1     39       3
58       8      8       4
59      12     16       4
       ...    ...     ...

[300 rows x 3 columns]

In [14]:
# COLLABORATIVE FILTERING ALGORITHMS

In [15]:
## 1. Memory-Based Collaborative Filtering:

In [16]:
n_users = df.UserId.unique().shape[0]
n_jobs = df.JobId.unique().shape[0]
print (' Total Number of users = ' + str(n_users) + ' | Total Number of jobs = ' + str(n_jobs) )
n_users

 Total Number of users = 20 | Total Number of jobs = 40

20

In [17]:
# 1. User_Item Filtering Algorithm: 
## A user-item filtering will take a particular user, find users that are similar to that user based on similarity of ratings, and recommend items that those similar users liked
##  Main steps
### Build user-item matrix: X12 represents rating from user1 to job2
### Calculate the simmility: user simalality based on ratings simality and job similarity based  on ratings simalarity using cosine similarity
### Create the simility matrix

In [18]:
tn_data

    UserId  JobId  Rating
0     1797     86       4
1     1363    121       3
2     1153    128       4
3     2485     75       3
4      445     56       5
5     1197     74       4
6     1177     78       3
7     2024     44       2
8     1105    117       3
9     2240     99       3
10     917     87       5
11    1173    147       4
12    1333    144       2
13     128    125       2
14     651    109       1
15    1675     53       4
16     803     23       1
17     217     58       1
18     323     68       3
19    2070     94       3
20    2021     88       1
21    2287    141       4
22     496     87       1
23     740     72       2
24    2101     76       4
25    1841    123       5
26    1606     71       4
27     604     24       3
28    1399    110       1
29     313    149       4
30     770    106       1
31    1472    102       2
32    1276     32       4
33    2093      4       4
34     154     25       2
35    1343     81       4
36    2108    122       3
37    2055    133       4
38    2491     27       2
39     987     35       3
40     967     71       4
41    1892      2       3
42     737     96       3
43     228     20       3
44      95    117       4
45    1590     70       3
46    2407     79       2
47     783     80       1
48     914     68       4
49     454    130       5
50     863     68       3
51     972    104       5
52    1145     61       1
53    1026    113       5
54    1636     83       3
55    2480     78       5
56    1556     81       2
57     581      7       3
58    2075     98       4
59    1419     78       3
       ...    ...     ...

[149973 rows x 3 columns]

In [19]:
tn_data['JobId']

0      86
1     121
2     128
3      75
4      56
5      74
6      78
7      44
8     117
9      99
10     87
11    147
12    144
13    125
14    109
...
149958     10
149959     80
149960     38
149961     23
149962     72
149963     93
149964    118
149965     67
149966     79
149967     24
149968     78
149969     24
149970     37
149971     64
149972     47
Name: JobId, Length: 149973, dtype: int64

In [20]:
### Build user-item matrix for Traing dataset
train_data_matrix = np.zeros((n_users, n_jobs))
for line in tn_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]
    
### Build user-item matrix for Testing dataset
test_data_matrix = np.zeros((n_users, n_jobs))
for line in ts_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [21]:
#train_data_matrix,test_data_matrix,
train_data_matrix[:1,:2]

array([[ 4.,  4.]])

In [22]:
### Compute the cosine similarity
## A distance metric commonly used in Recommender system is 
## cosine simmilarity and uses rating as a n-dimensional matrix
## and the similarity is calculated based on the angle between these vectors.

In [23]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [24]:
print(item_similarity[:4, :4])
print(user_similarity[:4, :4])

[[ 0.          0.72034685  0.70908258  0.68069213]
 [ 0.72034685  0.          0.65420227  0.67605764]
 [ 0.70908258  0.65420227  0.          0.66669974]
 [ 0.68069213  0.67605764  0.66669974  0.        ]]
[[ 0.          0.69560507  0.79309201  0.74571635]
 [ 0.69560507  0.          0.66723356  0.74745633]
 [ 0.79309201  0.66723356  0.          0.71638546]
 [ 0.74571635  0.74745633  0.71638546  0.        ]]

In [25]:
data_sims = pd.DataFrame(user_similarity)
data_sims.ix[:1, :1]

          0         1
0  0.000000  0.695605
1  0.695605  0.000000

[2 rows x 2 columns]

In [1]:
# Let us check the computational time
%timeit pairwise_distances(train_data_matrix, metric='cosine')

NameError: global name 'pairwise_distances' is not defined

In [3]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #You use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis]) 
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'job':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

In [4]:
# with the calculated simalarity matrix now we can use it to predict tyhe non rated jobs offers!

In [5]:
item_prediction = predict(train_data_matrix, item_similarity, type='job')
user_prediction = predict(train_data_matrix, user_similarity, type='user')

NameError: name 'train_data_matrix' is not defined

In [7]:
%timeit predict(train_data_matrix, item_similarity, type='job')
%timeit predict(train_data_matrix, user_similarity, type='user')

NameError: global name 'train_data_matrix' is not defined

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [8]:
print 'User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix))
print 'Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix))

NameError: name 'rmse' is not defined

In [34]:
sparsity=round(1.0-len(df)/float(n_users*n_jobs),3)
print 'The sparsity level of WutikoData is ' +  str(sparsity*100) + '%'

The sparsity level of WutikoData is 46.7%

In [35]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds

#get SVD components from train matrix. Choose k.
u, s, vt = svds(train_data_matrix, k = 20)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)
print 'User-based CF MSE: ' + str(rmse(X_pred, test_data_matrix))

/usr/local/lib/python2.7/dist-packages/numpy/core/fromnumeric.py:2699: VisibleDeprecationWarning: `rank` is deprecated; use the `ndim` attribute or function instead. To find the rank of a matrix see `numpy.linalg.matrix_rank`.
  VisibleDeprecationWarning)

User-based CF MSE: 2.69257953796

In [58]:
## Content-Boosted Collaborative Filtering:
# This approach uses a content-based predictor to enhance existing user data,
# and then provides personalized suggestions through collaborative filtering
# Content-Boosted Collaborative Filtering, performs better than a pure content-based predictor, pure
# collaborative filter, and a naive hybrid approach.

In [59]:
# Model Evaluation
# The metrics for evaluating the accuracy of a prediction algorithm can be divided into two main categories: 
# statistical accuracy metrics and decision-support metrics.
# 1. Statistical accuracy metrics evaluate the accu-
# racy of a predictor by comparing predicted values with user-
#provided values. To measure statistical accuracy we use the
# mean absolute error (MAE) metric — defined as the average
# absolute difference between predicted ratings and actual rat-
# ings. In our experiments we computed the MAE on the test
# set for each user, and then averaged over the set of test users

In [60]:

# 2.Decision-support accuracy measures how well predic-
# tions help users select high-quality items. We use Re-
# ceiver Operating Characteristic (ROC) sensitivity to mea-
# sure decision-support accuracy. A predictor can be treated as a filter, where predicting a high rating for an item is
# equivalent to accepting the item, and predicting a low rating
# is equivalent to rejecting the item. The ROC sensitivity is
# given by the area under the ROC curve — a curve that plots
# sensitivity versus 1-specificity for a predictor. Sensitivity is
# defined as the probability that a good item is accepted by the
# filter; and specificity is defined as the probability that a bad
# item is rejected by the filter. We consider an item good if the
# user gave it a rating of 4 or above, otherwise we consider the
# item bad.